<div class='content-box px-4 m-1.5 w-10/12 grid grid-cols-4 gap-1'>
  <h1 class='font-bold text-lg md:text-3xl col-span-full text-center'>{{event.name}}</h1>
 
 
 
 <div class="row-start-2 row-span-1 col-start-1 col-span-2 flex flex-col flex-start content-center m-1.5 rounded-md shadow-lg">
    <a href='/users/{{user_id}}/events/{{event.id}}/eventDetails'>
      <h2 class='mx-0 my-1 font-bold text-sm'>Event Date</h2>
      <p class='m-0 text-xs'>{{format_date event.event_date}}</p>
    </a>
  </div>

<div class="row-start row-span-1 col-start-3 col-span-2 flex flex-col flex-start content-center m-1.5 rounded-md shadow-lg">
  <a href='/users/{{user_id}}/events/{{event.id}}/eventDetails'  >
    <h2 class='mx-0 my-1 font-bold text-sm'>Days Until Event</h2>
    <p class='m-0 text-xs'>{{days_left event.event_date}}</p>
  </a>
</div>

<div class="row-start-3 row-span-1 col-start-1 col-span-2 flex flex-col flex-start content-center m-1.5 rounded-md shadow-lg">
  <a href='/users/{{user_id}}/events/{{event.id}}/guestDetails'>
    <div class='mx-0 my-1'>
      <h2 class='mx-0 my-1 font-bold text-sm'>Guests Invited</h2>
      <p class='m-0 font-semibold text-xs'>{{event.guests.length}}</p>
    </div>
    
    <div class='mx-0 my-1'>
      <h2 class='mx-0 my-1 font-bold text-sm'>Guests Accepted</h2>
      <p class='m-0 font-semibold text-xs text-green-500'>{{guestResponse.guestAccept.GuestAccepted}}</p>
    </div>

    <div class='mx-0 my-1'>
      <h2 class='mx-0 my-1 font-bold'>Guests
        Declined</h2>
      <h2
        class='justify-self-center m-1.5 text-center'
      >{{guestResponse.guestDecline.GuestDecline}}</h2>
    </div>
    <div class='col-start-4 col-span-1 grid grid-rows-2 rounded m-1.5'>
      <h2 class='justify-self-center m-1.5 font-bold text-center'>No Response</h2>
      <h2
        class='justify-self-center m-1.5 text-center'
      >{{guestResponse.guestNoResponse.GuestNoResp}}</h2>
    </div>

    </a>
</div>
    <a href="/users/{{user_id}}/events/{{event.id}}/itemDetails" class="row-start-3 row-end-4 col-start-3 col-end-5 grid grid-cols-2 border-2 rounded m-1.5 shadow-md">
        <div class="col-start-1 col-span-1 grid grid-rows-2 rounded m-1.5">
        <h2 class="justify-self-center m-1.5 font-bold text-center">Total Cost</h2>
        {{#if itemDetails.[0].total_cost}}
        <h2 class="justify-self-center m-1.5 text-center">${{itemDetails.[0].total_cost}}</h2>
        {{/if}}
        </div>
        <div class="col-start-2 col-span-1 grid grid-rows-2 rounded m-1.5">
        <h2 class="justify-self-center m-1.5 font-bold text-center">Total Quantity</h2>
        <h2 class="justify-self-center m-1.5 text-center">{{itemDetails.[0].SumItemQty}}</h2>
        </div>
    </a>
        <a href="/users/{{user_id}}/events/{{event.id}}/eventDetails" class="row-start-4 col-span-full grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">{{event.location_name}}</h2>
        {{#if event.location_city}}
        <h2 class="justify-self-center m-1.5">{{event.location_city}}, {{event.location_state}} {{event.location_zip}}</h2>
        {{/if}}
    </a>
    <br />
<div class="col-start-1 col-span-4">
  <a
    class='shadow-md py-1 px-1 md:py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700 m-6 '
    href='/dashboard'
    role='button'
  ><i class='fas fa-home'> Back</i></a>
</div>
</div>
