<div class='content-box w-auto h-auto mx-2 md:mx-10 lg:mx-auto'>
  <form class='px-1 my-3 mx-0 space-y-1'>
    <div>
      <h1 class='text-center text-md md:text-4xl font-semibold'>Guest Details</h1>
      <p class='text-center text-sm md:text-md text-gray-600'>Edit guest details</p>
    </div>
    <div class='flex content-center space-x-2'>
      <div class='w-1/3 text-xs md:text-lg'>
        <label for='guest-type'>Guest Type</label>
        <select
          class='border border-gray-400 block py-1 px-4 w-full rounded-md focus:outline-none focus:border-blue-500'
          type='text'
          id='guest-type'
          data-id=''
          data-user_id='{{user_id}}'
          data-event_id='{{eventId}}'
          value=''
        >
          <option value='Primary'>Primary</option>
          <option value='Secondary'>Secondary</option>
        </select>
      </div>
      <div class='w-1/3 text-xs md:text-lg'>
        <label for='guest-first-name'>Guest First Name</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded-md focus:outline-none focus:border-blue-500'
          type='text'
          id='guest-first-name'
          value=''
        />
      </div>
      <div class='w-1/3 text-xs md:text-lg'>
        <label for='guest-last-name'>Guest Last Name</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded-md focus:outline-none focus:border-blue-500'
          type='text'
          id='guest-last-name'
          value=''
        />
      </div>
    </div>

    <div class='text-xs md:text-lg'>
      <label for='guest-address-1'>Guest Address 1</label>
      <input
        class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
        type='text'
        id='guest-addr1'
        value=''
      />
    </div>
    <div class='text-xs md:text-lg'>
      <label for='guest-address-2'>Guest Address 2</label>
      <input
        class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
        type='text'
        id='guest-addr2'
        value=''
      />
    </div>

    <div class='flex space-x-4 text-xs md:text-lg'>
      <div class='w-1/4 text-xs md:text-lg'>
        <label for='guest-city'>Guest City</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-city'
          value=''
        />
      </div>
      <div class='w-1/4 text-xs md:text-lg'>
        <label for='guest-state'>Guest State</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-state'
          value=''
        />
      </div>
      <div class='w-1/4 text-xs md:text-lg'>
        <label for='guest-zip'>Guest Zip</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-zip'
          value=''
        />
      </div>
      <div class='w-1/4 text-xs md:text-lg'>
        <label for='guest-country'>Guest Country</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-ctry'
          value=''
        />
      </div>
    </div>

    <div class='flex space-x-4 text-xs md:text-lg'>
      <div class='w-1/2 text-xs md:text-lg'>
        <label for='guest-email'>Guest Email:</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-email'
          value=''
        />
      </div>
      <div class='w-1/2 text-xs md:text-lg'>
        <label for='guest-phone'>Guest Phone:</label>
        <input
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-phone'
          value=''
        />
      </div>
    </div>

    <div class='flex space-x-4 text-xs md:text-lg'>
      <div class='w-1/2 text-xs md:text-lg'>
        <label class='guest-response'>Guest Response:</label>
        <select
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-response'
          value=''
        >
          <option value='none'>No Response</option>
          <option value='true'>Accepted</option>
          <option value='false'>Declined</option>
        </select>
      </div>
      <div class='w-1/2 text-xs md:text-lg'>
        <label for='guest-off'>Sub Guest Of:</label>
        <select
          class='border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500'
          type='text'
          id='guest-inviter'
          value=''
        >
          <option value=''></option>
          {{#each guests}}
            <option value='{{this.id}}'>{{this.first_name}}
              {{this.last_name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class='flex flex-row justify-center content-center mt-5'>
      <button
        class='box-border border-2 px-4 rounded m-1 py-1 px-1 md:py-2 px-3 m-1 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700'
        type='button'
        value='create'
        id='guest-create-btn'
      ><i class='fa fa-plus' aria-hidden='true'> Create</i></button>
      <button
        class='box-border border-2 px-4 rounded m-1 py-1 px-1 md:py-2 px-3 m-1 font-semibold rounded-lg shadow-md text-white bg-red-500 hover:bg-red-700'
        type='button'
        value='cancel'
        id='guest-cancel-btn'
      ><i class='far fa-window-close'> Cancel</i></button>

    </div>
  </form>

</div>

<button class='invisible' type='button' value='delete' id='guest-delete-btn'><i
    class='far fa-trash-alt'
  > Delete</i></button>
<button class='invisible' type='button' value='update' id='guest-update-btn'><i
    class='fas fa-edit'
  > Update</i></button>

<script type='text/javascript' src='/js/guestDetails.js'></script>