<div class='content-box w-auto h-auto mx-2 md:mx-10 lg:mx-auto'>
  <form class='block grid grid-cols-2 grid-rows-15 border-2 m-1.5'></form>
    <div>
      <h1 class='text-center text-md md:text-4xl font-semibold'>Guest Details</h1>
      <p>Edit guest details</p>
    </div>
    <div>
      <div>
        <label class='font-bold text-right col-start-1 col-span-1 row-start-1 row-span-1'>Guest Type</label>
        <select
          class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-1 row-span-1'
          type='text'
          id='guest-type'
          data-id='{{guests.id}}'
          data-user_id='{{user_id}}'
          data-event_id='{{guests.event_id}}'
          value='{{guests.guest_type}}'>
            {{#if (isPrimary guests.guest_type)}}
            <option value='Primary' selected>Primary</option>
            <option value='Secondary'>Secondary</option>
            {{else}}
            <option value='Primary'>Primary</option>
            <option value='Secondary' selected>Secondary</option>
            {{/if}}       
          </select>
      </div>
      <div>
        <label class='font-bold text-right col-start-1 col-span-1 row-start-2 row-span-1'>Guest First Name</label>
        <input
          class='m-1 w-10/12 text-center col-start-2 col-span-1 row-start-2 row-span-1'
          type='text'
          id='guest-first-name'
          value='{{guests.first_name}}'
        >
      </div>
      <div>
        <label class='font-bold text-right col-start-1 col-span-1 row-start-3 row-span-1'>Guest Last Name</label>
        <input
          class='m-1 w-10/12 text-center col-start-2 col-span-1 row-start-3 row-span-1'
          type='text'
          id='guest-last-name'
          value='{{guests.last_name}}'
        >
      </div>
    </div>
      
    <label class='font-bold text-right col-start-1 col-span-1 row-start-4 row-span-1'>Guest Address 1</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-4 row-span-1'
      type='text'
      id='guest-addr1'
      value='{{guests.guest_addr1}}'
    />
    <label class='font-bold text-right col-start-1 col-span-1 row-start-5 row-span-1'>Guest Address 2</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-5 row-span-1'
      type='text'
      id='guest-addr2'
      value='{{guests.guest_addr2}}'
    />

    <div></div>
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-6 row-span-1'
    >Guest City</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-6 row-span-1'
      type='text'
      id='guest-city'
      value='{{guests.guest_city}}'
    />
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-7 row-span-1'
    >Guest State</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-7 row-span-1'
      type='text'
      id='guest-state'
      value='{{guests.guest_state}}'
    />
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-8 row-span-1'
    >Guest Zip</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-8 row-span-1'
      type='text'
      id='guest-zip'
      value='{{guests.guest_zip}}'
    />
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-9 row-span-1'
    >Guest Country</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-9 row-span-1'
      type='text'
      id='guest-ctry'
      value='{{guests.guest_country}}'
    />
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-10 row-span-1'
    >Guest Email</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-10 row-span-1'
      type='text'
      id='guest-email'
      value='{{guests.email}}'
    />
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-11 row-span-1'
    >Guest Phone</label>
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-11 row-span-1'
      type='text'
      id='guest-phone'
      value='{{guests.phone}}'
    />
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-12 row-span-1'
    >Guest Response</label>
    <select
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-12 row-span-1'
      type='text'
      id='guest-response'
      value='{{guests.response}}'
    >
      <option value='none'>No Response</option>
      <option value='true'>Accepted</option>
      <option value='false'>Declined</option>
    </select>
    <label
      class='font-bold text-right col-start-1 col-span-1 row-start-13 row-span-1'
    >Sub Guest Of:</label>
    {{#if guests.inviter}}
    <input
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-13 row-span-1'
      type='text'
      id='guest-inviter'
      value='{{guests.inviter}}'>
    {{else}}
    <select
      class='m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-13 row-span-1'
      type='text'
      id='guest-inviter'
      value='{{guests.inviter}}'>
        <option value=''></option>  
    {{#each guestList}}
    <option value='{{this.id}}'>{{this.first_name}} {{this.last_name}}</option>
    {{/each}}
    {{/if}}
    </select>
    <div class='row-start-14 row-span-1 col-start-1 col-span-2 px-4 rounded flex flex-wrap justify-center items-center'>
      <label
      class='font-bold text-right col-start-1 col-span-1 row-start-13 row-span-1'
    >Item Selection:</label>
      {{#each itemList}}
        <input class='m-1' type="checkbox" id="items" name="{{this.id}}" value="{{this.name}}"><label class='m-1' for="{{this.id}}">{{this.name}}</label>
      {{/each}}
    </div>


    <div class='row-start-15 row-span-1 col-start-1 col-span-2 px-4 rounded grid justify-items-stretch grid-col-4 auto-row-auto '>
    <button
      class='col-start-1 col-span-1 shadow-md py-1 px-1 md:py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700 m-6'
      type='button'
      id='guest-update-btn'
    >Update</button>
    <button
      class='col-start-2 col-span-1 shadow-md py-1 px-1 md:py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700 m-6'
      type='button'
      id='guest-delete-btn'
    >Delete</button>
   <button
      class='col-start-3 col-span-1 shadow-md py-1 px-1 md:py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700 m-6'
      type='button'
      value='cancel'
      id='guest-cancel-btn'
    >Cancel</button>
    </button>
    </div>
  </form>
</div>

    <button
      class='invisible'
      type='button'
      value='create-disabled'
      id='guest-create-btn'
    >Create</button>

<script type='text/javascript' src='/js/guestDetails.js'></script>