<div class='content-box border-4 px-4 pb-4 m-1.5 rounded w-full flex flex-col'>
  <h2 class='col-span-full m-1.5 text-center text-4xl font-bold'>Guest Details</h2>
  <div class='content-box grid grid-cols-15 auto-rows-auto'>
    <div class='col-start-1 col-span-1 font-bold'>Guest Type</div>
    <div class='col-start-2 col-span-1 font-bold'>First Name</div>
    <div class='col-start-3 col-span-1 font-bold'>Last Name</div>
    <div class='col-start-4 col-span-1 font-bold'>Address 1</div>
    <div class='col-start-5 col-span-1 font-bold'>Address 2</div>
    <div class='col-start-6 col-span-1 font-bold'>City</div>
    <div class='col-start-7 col-span-1 font-bold'>State</div>
    <div class='col-start-8 col-span-1 font-bold'>Zip</div>
    <div class='col-start-9 col-span-1 font-bold'>Country</div>
    <div class='col-start-10 col-span-1 font-bold'>Email</div>
    <div class='col-start-11 col-span-1 font-bold'>Phone</div>
    <div class='col-start-12 col-span-1 font-bold'>Response</div>
    <div class='col-start-13 col-span-1 font-bold'>Guest Of</div>
    {{#each guests}}
      <a
        href='/guest/{{this.id}}'
        class='col-start-1 col-span-1'
      >{{this.guest_type}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-2 col-span-1'
      >{{this.first_name}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-3 col-span-1'
      >{{this.last_name}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-4 col-span-1'
      >{{this.guest_addr1}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-5 col-span-1'
      >{{this.guest_addr2}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-6 col-span-1'
      >{{this.guest_city}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-7 col-span-1'
      >{{this.guest_state}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-8 col-span-1'
      >{{this.guest_zip}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-9 col-span-1'
      >{{this.guest_country}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-10 col-span-1'
      >{{this.email}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-11 col-span-1'
      >{{this.phone}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-12 col-span-1'
      >{{this.response}}</a>
      <a
        href='/guest/{{this.id}}'
        class='col-start-13 col-span-1'
      >{{this.inviter}}</a>
    {{/each}}
  </div>
  <br>
  <div class="col-start-1 col-span-4">
  <a
    class='shadow-md py-1 px-1 md:py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700 m-1'
    href='/users/{{user_id}}/events/{{eventId}}/guest'
    role='button'
  ><i class='fas fa-plus'> New Guest</i></a>
  <a
    class='shadow-md py-1 px-1 md:py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700 m-1'
    href='/dashboard'
    role='button'
  ><i class='fas fa-home'> Back</i></a>
</div>
</div>
