<div class="content-box border-4 px-4 m-1.5 rounded w-1/2 flex flex-col">
    <h2 class="m-1.5 text-center text-4xl font-bold">Guest Details</h2>
    <form class="block grid grid-cols-2 grid-rows-14 border-2 m-1.5">
      <label class="font-bold text-right col-start-1 col-span-1 row-start-1 row-span-1">Guest Type:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-1 row-span-1" type="text" id="guest-type" data-id="{{guests.id}}" data-user_id="{{user_id}}" data-event_id="{{guests.event_id}}" value="{{guests.guest_type}}">
      <label class="font-bold text-right col-start-1 col-span-1 row-start-2 row-span-1">Guest First Name:</label>
      <input class="m-1 w-10/12 text-center col-start-2 col-span-1 row-start-2 row-span-1" type="text"  id="guest-first-name" value="{{guests.first_name}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-3 row-span-1">Guest Last Name:</label>
      <input class="m-1 w-10/12 text-center col-start-2 col-span-1 row-start-3 row-span-1" type="text"  id="guest-last-name" value="{{guests.last_name}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-4 row-span-1">Guest Address 1:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-4 row-span-1" type="text" id="guest-addr1" value="{{guests.guest_addr1}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-5 row-span-1">Guest Address 2:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-5 row-span-1" type="text" id="guest-addr2" value="{{guests.guest_addr2}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-6 row-span-1">Guest City:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-6 row-span-1" type="text" id="guest-city" value="{{guests.guest_city}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-7 row-span-1">Guest State:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-7 row-span-1" type="text" id="guest-state" value="{{guests.guest_state}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-8 row-span-1">Guest Zip:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-8 row-span-1" type="text" id="guest-zip" value="{{guests.guest_zip}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-9 row-span-1">Guest Country:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-9 row-span-1" type="text" id="guest-ctry" value="{{guests.guest_country}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-10 row-span-1">Guest Email:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-10 row-span-1" type="text" id="guest-email" value="{{guests.email}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-11 row-span-1">Guest Phone:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-11 row-span-1" type="text" id="guest-phone" value="{{guests.phone}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-12 row-span-1">Guest Response:</label>
      <select class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-12 row-span-1" type="text" id="guest-response" value="{{guests.response}}">
        <option value="none">No Response</option>
        <option value="true">Accepted</option>
        <option value="false">Declined</option>
      </select>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-13 row-span-1">Sub Guest Of:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-13 row-span-1" type="text" id="guest-inviter" value="{{guests.inviter}}"/>
      <button class="row-start-14 row-span-1 col-start-1 col-span-1 box-border border-2 px-4 rounded m-1.5 font-bold" type="button" id="guest-update-btn">Update</button>
      <button class="row-start-14 row-span-1 col-start-2 col-span-1 box-border border-2 px-4 rounded m-1.5 font-bold" type="button" id="guest-delete-btn">Delete</button>
    </form>
</div>

<script type='text/javascript' src="/js/guestDetails.js"></script>