<div class="content-box w-auto h-auto mx-2 md:mx-10 lg:mx-auto">
  <form id='item-details' class='px-1 my-3 mx-0 space-y-6'>
    <div>
      <h1 class="text-center text-md md:text-4xl font-semibold">Item Details</h1>
      <p class='text-center text-sm md:text-md text-gray-600'>Update or delete item details</p>
    </div>
    <div class="bg-white row-start-2 row-span-1 col-start-1 col-span-2 p-4 m-1.5 border-1 rounded-md shadow-md hover:shadow-xl">
    <div>
      <div class='flex space-x-2'>
        <div class='w-auto text-xs md:text-lg self-center'>
          <label for='category'>Category</label>
          <input class="self-center border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500" type="text" id="item-category" data-id="{{items.id}}" data-user_id="{{user_id}}" data-event_id="{{items.event_id}}" value="{{items.category}}">
        </div>
        <div class='w-auto text-xs md:text-lg self-center'>
          <label for='name'>Name</label>
          <input class="self-center border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500" type="text"  id="item-name" value="{{items.name}}"/>
        </div>
        <div class='w-auto text-xs md:text-lg self-center'>
          <label for='quantity'>Quantity</label>
          <input class="self-center border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500" type="text"  id="item-quantity" value={{items.quantity}}>
        </div>
      </div>
       
       <div class='flex space-x-2'>
        <div class='w-1/2 text-xs md:text-lg self-center'>
          <label for='unit-of-measure'>Unit of Measure</label>
          <input class="self-center border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500" type="text" id="item-uom" value="{{items.qty_uom}}"/>
        </div>
        <div class='w-1/2 text-xs md:text-lg self-center'>
          <label for='cost-pet-unit'>Cost Per Unit</label>
          <input class="self-center border border-gray-400 block py-1 px-4 w-full rounded focus:outline-none focus:border-teal-500" type="text" id="item-cost" value="{{items.cost_perunit}}"/>
        </div>
      </div>
      
    </div>
      
      

    <div class='flex flex-row justify-center content-center mt-5'>
      <button class="box-border border-2 px-4 rounded m-1 py-1 px-1 md:py-2 px-3 m-1 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700" type="button" id="item-update-btn">Update</button>
      <button class="box-border border-2 px-4 rounded m-1 py-1 px-1 md:py-2 px-3 m-1 font-semibold rounded-lg shadow-md text-white bg-red-500 hover:bg-red-700" type="button" id="item-delete-btn">Delete</button>
      <button class='box-border border-2 px-4 rounded m-1 py-1 px-1 md:py-2 px-3 m-1 font-semibold rounded-lg shadow-md text-white bg-red-500 hover:bg-red-700' type='button' value='cancel' id='item-cancel-btn'>Cancel</button>

    </div>
     </div>
    </form>
</div>

    <button
      class='invisible'
      type='button'
      value='create-disabled'
      id='item-create-btn'
    >Create</button>

<script type='text/javascript' src="/js/itemDetails.js"></script>