<div class="content-box border-4 px-4 m-1.5 rounded w-1/2 flex flex-col">
    <h2 class="m-1.5 text-center text-4xl font-bold">Item Details</h2>
    <form class="block grid grid-cols-2 auto-rows-auto border-2 m-1.5">
      <label class="font-bold text-right col-start-1 col-span-1 row-start-1 row-span-1">Category:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-1 row-span-1" type="text" id="item-category" data-id="{{items.id}}" data-user_id="{{user_id}}" data-event_id="{{items.event_id}}" value="{{items.category}}">
      <label class="font-bold text-right col-start-1 col-span-1 row-start-2 row-span-1">Name:</label>
      <input class="m-1 w-10/12 text-center col-start-2 col-span-1 row-start-2 row-span-1" type="text"  id="item-name" value="{{items.name}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-3 row-span-1">Quantity:</label>
      <input class="m-1 w-10/12 text-center col-start-2 col-span-1 row-start-3 row-span-1" type="text"  id="item-quantity" value={{items.quantity}}>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-4 row-span-1">Unit of Measure:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-4 row-span-1" type="text" id="item-uom" value="{{items.qty_uom}}"/>
      <label class="font-bold text-right col-start-1 col-span-1 row-start-5 row-span-1">Cost Per Unit:</label>
      <input class="m-1.5 w-10/12 text-center col-start-2 col-span-1 row-start-5 row-span-1" type="text" id="item-cost" value="{{items.cost_perunit}}"/>
      
      <button class="row-start-14 row-span-1 col-start-1 col-span-1 box-border border-2 px-4 rounded m-1.5 font-bold" type="button" id="item-update-btn">Update</button>
      <button class="row-start-14 row-span-1 col-start-2 col-span-1 box-border border-2 px-4 rounded m-1.5 font-bold" type="button" id="item-delete-btn">Delete</button>
    </form>
</div>

<script type='text/javascript' src="/js/itemDetails.js"></script>